body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#master {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;

}

button {
  margin: 5px;
}

input {
  margin: 5px;
}

.error {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  color: red;
  font-weight: bold;
  border-style: dotted;
  border-width: 2 px;
  border-color: red;
  background: #FFC4C4;
}

.success {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  color: green;
  border-style: dotted;
  border-width: 1 px;
  border-color: green;
  background: #C7FFC4;
}